{
  "name": "%NAME%",
  "version": "%VERSION%",
  "private": true,
  "description": "%DESCRIPTION%",
  "main": "Gruntfile.js",
  "scripts": {
    "start": "node index",
    "dev" : "gulp & node index",
    "test": "echo \"No tests\" && exit 1"
  },
  "engines" : {
    "node" : "0.10.x"
  },
  "author": "%AUTHOR%",
  "license": "ISC"
}
