<!DOCTYPE html>
<!--[if lt IE 8]> <html class="no-js ieNope" lang="en"> <![endif]-->
<!--[if IE 8]> <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
  <head>
    <meta charset=utf-8>
    <title>%PROTOTYPE%</title>
    <link rel="stylesheet" href="css/main.css">
    <script src="js/modernizr-latest-dev.js"></script>
  </head>
  <body>
    <header class="header">
      <h1 class="title">%PROTOTYPE%</h1>
    </header>

    <main class="main" id="main">
    </main>

    <script data-main="app/config" src="/bower_components/requirejs/require.js"></script>
  </body>
</html>